In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Sampledata/survey_results_public.csv', index_col = 'Respondent')
df.head()

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [3]:
df_schema = pd.read_csv('Sampledata\survey_results_schema.csv', index_col = 'Column')
df_schema.head()

                                                  QuestionText
Column
Respondent   Randomized respondent ID number (not in order ...
MainBranch   Which of the following options best describes ...
Hobbyist                               Do you code as a hobby?
OpenSourcer        How often do you contribute to open source?
OpenSource   How do you feel about the quality of open sour...

In [11]:
country_grp = df.groupby(['Country'])

In [12]:
country_grp

In [13]:
country_grp.median()

,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
Country,,,,,
Afghanistan,39000.0,6222.0,45.0,8.0,25.0
Albania,65000.0,10818.0,40.0,5.0,24.0
Algeria,55000.0,7878.0,40.0,4.0,25.0
Andorra,76500.0,160931.0,42.0,2.5,21.5
Angola,202000.0,7764.0,45.0,10.0,23.0
...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",1000.0,6384.0,40.0,5.0,25.0
Viet Nam,15000000.0,11892.0,40.0,5.0,25.0
Yemen,125000.0,11940.0,40.0,5.0,27.0
Zambia,5000.0,5040.0,40.0,10.0,26.0
Zimbabwe,1600.0,19200.0,46.5,10.0,26.0

In [19]:
country_grp.get_group('India')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
50,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
65,I am a developer by profession,Yes,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",NaN,...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77339,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",Taken an online course in programming or softw...,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79795,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,NaN,Man,No,Straight / Heterosexual,NaN,No,Too long,Difficult
83862,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,Participated in a hackathon,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
84299,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...","Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy

In [31]:
country_grp['ConvertedComp'].agg(['median','mean'])

                                        median           mean
Country
Afghanistan                             6222.0  101953.333333
Albania                                10818.0   21833.700000
Algeria                                 7878.0   34924.047619
Andorra                               160931.0  160931.000000
Angola                                  7764.0    7764.000000
...                                        ...            ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907
Viet Nam                               11892.0   17233.436782
Yemen                                  11940.0   16909.166667
Zambia                                  5040.0   10075.375000
Zimbabwe                               19200.0   34046.666667

[179 rows x 2 columns]

In [56]:
total_resp = df['Country'].value_counts()

In [57]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)
python_resp = df.loc[filt, 'Country'].value_counts()
python_resp

United States     10083
India              3105
Germany            2451
United Kingdom     2384
Canada             1558
                  ...
Barbados              1
San Marino            1
Dominica              1
Botswana              1
Mozambique            1
Name: Country, Length: 162, dtype: int64

In [60]:
py_resp_percent = (python_resp/total_resp)*100
py_resp_percent.head(50)

Afghanistan                               18.181818
Albania                                   26.744186
Algeria                                   29.850746
Andorra                                         NaN
Angola                                    40.000000
Antigua and Barbuda                             NaN
Argentina                                 34.538879
Armenia                                   32.558140
Australia                                 41.513400
Austria                                   40.286055
Azerbaijan                                34.693878
Bahamas                                   66.666667
Bahrain                                   22.222222
Bangladesh                                33.719008
Barbados                                  33.333333
Belarus                                   34.158416
Belgium                                   40.715268
Belize                                    33.333333
Benin                                     60.000000
Bhutan                                    50.000000
Bolivia                                   30.555556
Bosnia and Herzegovina                    26.851852
Botswana                                  20.000000
Brazil                                    39.373717
Brunei Darussalam                               NaN
Bulgaria                                  27.465857
Burkina Faso                                    NaN
Burundi                                   33.333333
Cambodia                                  30.000000
Cameroon                                  31.372549
Canada                                    45.891016
Cape Verde                                      NaN
Chad                                            NaN
Chile                                     49.514563
China                                     44.728916
Colombia                                  34.504792
Congo, Republic of the...                 57.142857
Costa Rica                                35.714286
Croatia                                   33.461538
Cuba                                      53.333333
Cyprus                                    31.250000
Czech Republic                            37.303665
Côte d'Ivoire                             32.352941
Democratic People's Republic of Korea     33.333333
Democratic Republic of the Congo          42.857143
Denmark                                   39.870340
Djibouti                                        NaN
Dominica                                 100.000000
Dominican Republic                        21.649485
Ecuador                                   47.560976
Name: Country, dtype: float64

In [63]:
country_grp['SocialMedia'].value_counts().loc['India']

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [72]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [76]:
#Method-1
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()/len(x)).loc['United States']

0.48131175712444507

In [93]:
#Method-2 - to find the percentage of people in each country responded knows Python

#Step-1 : find total resp from country
total_resp = df['Country'].value_counts()
#print(total_resp)
#print()
#Step-2 : find the resp that knows python
Py_resp = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
#print(Py_resp)

#step-3: concat the above two based on the matching columns

py_df = pd.concat([total_resp, Py_resp], axis ='columns', sort=False)
py_df.rename(columns={'Country': 'Total', 'LanguageWorkedWith': 'Py_users'}, inplace=True)
py_df['Py_percent'] = (py_df['Py_users']/py_df['Total'])*100
py_df

                       Total  Py_users  Py_percent
United States          20949     10083   48.131176
India                   9061      3105   34.267741
Germany                 5866      2451   41.783157
United Kingdom          5737      2384   41.554820
Canada                  3395      1558   45.891016
...                      ...       ...         ...
Timor-Leste                1         1  100.000000
Sao Tome and Principe      1         1  100.000000
Brunei Darussalam          1         0    0.000000
North Korea                1         0    0.000000
Saint Kitts and Nevis      1         0    0.000000

[179 rows x 3 columns]